<section class="toc clearfix">
  <h2 class="common-title">课程目录</h2>
  <ul class="list container clearfix">
    <li class="entry">
      <div class="no"></div>
      <div class="duration">3:42</div>
      <div class="text">课程简介</div>
    </li>
    <li class="entry">
      <div class="no"></div>
      <div class="duration">3:42</div>
      <div class="text">课程简介</div>
    </li>
    <li class="entry">
      <div class="no"></div>
      <div class="duration">3:42</div>
      <div class="text">课程简介</div>
    </li>
    <li class="entry">
      <div class="no"></div>
      <div class="duration">3:42</div>
      <div class="text">课程简介</div>
    </li>
  </ul>
</section>
