.author {
  .avatar {
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
  }
  text-align: center;
  background-color: $primary-color;
  .name {
    color: $primary-color-text;
  }
  .intro {
    color: $primary-color-text;
    opacity: .8;
  }
  .follow-author {
    display: block;
    width: 7em;
    padding: .7em;
    background-color: $primary-color-dark;
    border-radius: .8em;
    color: $primary-color-text;
    margin: 1.5em auto;
  }
}
