.button {
    display: block;
    transition: all .3s ease-out;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    line-height: 2em;
    text-align: center;
    min-width: 8em;
    max-width: 10em;
    font-weight: 600;
    padding: .6em 1em;
    border-radius: .3em;
    background-color: $accent-color;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    &:hover {
        background-color: lighten($accent-color, 10%);
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
        color: white;
    }
}
