.stat-item {
  text-align: center;
  margin-bottom: 2em;
  .icon {
    svg {
      margin: .5em auto;
      display: block;
      width: 10em;
      height: 10em;
      fill: $primary-color;
    }
  }
  .title {
    color: $primary-text-color;
    margin-bottom: .3em;
    font-size: 1.3em;
    margin-top: 0;
  }
  .info {
    color: $secondary-text-color;
    margin-top: 0;
  }
}
