.warning {
  padding: 16px;
  h2 {
    text-align: center;
    line-height: 1.2;
    color: $primary-text-color;
  }
  p {
    text-align: center;
    margin-top: .5em;
    color: $secondary-text-color;
  }
}
