@import "common";

header {
  height: 80px;
  background-color: $primary-color;
}
.course-intro {
  height: 200px;
}
.action {
  .action-button {
    margin: 0 auto;
    margin-bottom: 2em;
  }
}
.author {
  height: 200px;
  background-color: $primary-color;
}
.warning {
  height: 200px;
}

footer {
  background-color: #212121;
  height: 100px;
}
